-const title =  dataDetail.name_page
include ../components/head.pug

    if  dataDetail.img
     section.bloc 
       .bloc__txt
         h1.bloc__title= dataDetail.title
         p.bloc__paragraph= dataDetail.p
         a.bloc__next-detail(href=next.url)=next.title
       picture.bloc__img 
         img(src= dataDetail.img, alt= dataDetail.name_page)
    else
     section.bloc 
      .bloc__txt
        h1.bloc__title= dataDetail.title
        p.bloc__paragraph= dataDetail.p
        a.bloc__next-detail(href=next.url)=next.title
     
include ../components/footer.pug