-const title = element.name_page
include ../components/head.pug
    
    if element.img
     section.bloc 
       .bloc__txt
         h1.bloc__title=element.title
         p.bloc__paragraph=element.p
         a(href="/") Retour accueil
       picture.bloc__img 
         img(src=element.img, alt=element.name_page)
    else
     section.bloc 
      .bloc__txt
        h1.bloc__title=element.title
        p.bloc__paragraph=element.p
        a(href="/") Retour accueil
     
include ../components/footer.pug